@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "ybsk-n";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: #DFF1F6;
  --color-base-content: oklch(27% 0.041 260.031);
  --color-primary: #90D1E0;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #DFF1F6;
  --color-secondary-content: oklch(27% 0.041 260.031);
  --color-accent: #EC74A3;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #DFF1F6;
  --color-neutral-content: oklch(27% 0.041 260.031);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(52% 0.105 223.128);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(52% 0.154 150.069);
  --color-warning: oklch(92% 0.12 95.746);
  --color-warning-content: oklch(55% 0.195 38.402);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(50% 0.213 27.518);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
